html,body{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

.menu-navbar{
    background-color: #ffffff;
    border-bottom: 1px solid #232323;
}

.menu-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-navbar > ul > li {
    float: left;
}


.menu-navbar li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-navbar li a:hover{
    background-color: rgba(255,255,255,0.5);
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: rgba(255,255,0,0.7) !important;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f9f9f9;
}

.isi-dropdown a {
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}